body{
	
	background: #34495e;
	background: -moz-linear-gradient(top,  #34495e 0%, #34495e 100%);
	background: -webkit-linear-gradient(top,  #34495e 0%,#34495e 100%);
	background: linear-gradient(to bottom,  #34495e 0%,#34495e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34495e', endColorstr='#34495e',GradientType=0 );
	
	color:#bdc3c7;
	padding-top:5px;
}
h1{
	
}


.contaner{
  max-width:1200px;
  margin:0 auto;
}

.header{
   background: #fff;	
}
.header_top{
	padding-top:20px;
	padding-bottom:20px;
}


.logo{
	padding-top:20px;
}

img.logo_img{
	max-width:262px;
	max-height:28px;
}


li.active > a,
li.active > a.nav_link:hover,
li.active >a.nav_link:focus{
	background: #1abc9c;
	color:#fff;
}
  
a.nav_link{
	color:#bdc3c7;
	text-transform:uppercase;
}
a.nav_link:hover, 
a.nav_link:focus{
	color:#fff;
	background: #1abc9c !important;
}

.search_header{
	float:right;
	padding-top:18px;
	margin-left:18px;
}
.search_button{  
	width:19px;
	height:19px;
	border:hidden;
	background: url(../img/search_btn.png) no-repeat;
}

.bg-top{
	width:100%;
	height:262px;
	position:absolute;
	z-index:-5;
	background: #fff;
}
div.bg-top img{
	width:100%;
	height:262px;
}



.content_top{
	padding-top:80px;
	padding-bottom:30px;
}

.title{
	padding-top:0px;
}


.main{
	background: transparent ;
	/*background: #34495e;
	background: -moz-linear-gradient(top,  #34495e 0%, #34495e 100%);
	background: -webkit-linear-gradient(top,  #34495e 0%,#34495e 100%);
	background: linear-gradient(to bottom,  #34495e 0%,#34495e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34495e', endColorstr='#34495e',GradientType=0 );
	color:#ecf0f1;*/
}

.main a{
color:#ecf0f1;}

.nav_content{
	background: transparent ;
	padding-top:100px;
	padding-bottom:20px;
}
.content_mid{
  padding-bottom:50px;	
	
}
.types_work{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}
.work_link{
	position: relative;
    display: block;
    background: url(../img/hover_btn_img.png) center center no-repeat;
    margin: 0;
    padding: 0;
}

img.img_work{
	width:100%;
 
}
img.img_work:hover{
	filter: alpha(Opacity=20);
    opacity: 0.2;
	
}

 img.img_work::hover{
	visibility:hidden;
}

ul.work_nav_list li{
  padding-right: 2px;
  padding-left: 1px;
}

ul.work_nav_list> li + li:before {
  padding: 0 1px;
  content: "/\00a0";
}
.footer{
  background: #fff;
  padding-bottom:30px;  
 }
 .footer_top{
  padding-bottom:40px; 	 
 }
 .foot-title{
	text-transform:uppercase;
}

ul.foot_soc_list{
	padding-left: 0;
    margin-left: -2px;
	list-style:none;
}
ul.foot_soc_list > li {
	display: inline-block;
	padding-right: 2px;
	padding-left: 2px;
}

ul.foot_post_list{
	padding-left: 0;
	list-style:none;
}
ul.foot_comment_list{
	padding-left: 0;
	margin-top: 10px;
	list-style:none;
}
ul.foot_comment_list > li{
	display: block;
	padding: 15px 20px;
	margin-top: 10px;
	margin-bottom:10px;
	background: #ecf0f1;
}

 ul.foot_comment_list > li:hover{
	background: #d6e0e2;	 
 } 
 
 a.foot_comment_link{
	  display: block; 
	  background: transparent ;
   }
  a.foot_comment_link:hover{
	 text-decoration:none; 
  }
   div.foot_photo{
	text-align:center;
	padding-bottom:8px;
   }
   a.foot_photo_link{
	  display: inline-block; 
	  border: 2px solid #ecf0f1;
      padding:4px;	  
   }
      a.foot_photo_link:hover{
		border: 2px solid #1abc9c;  
	  }
   
   img.foot_photo_img{
	/*max-width:54px;
	max-height:46px; */ 
   }
    
   
 .footer_bottom{
	padding-top:20px;
	border-top: 2px solid #ecf0f1;  
 }
 
  .foot_bottom_list > li {
  padding-left: 10px;
}  

.clear{
	clear:both;
}
